body{
	margin: 0px;
	padding:0px;
}



.cuadrado1{
	width:200px;
	height: 200px;
	position: relative;
	left: 400px;
	background-color:#ee3e64;
	
	
}
.cuadrado2{
	width:200px;
	height: 200px;
	position: relative;
	left:1024px; 
	background-color:#44accf;
	
}
.cuadrado3{
	width:200px;
	height: 200px;
	position:relative;
	top:-98px;
	background-color:#b7d84b;
	
	
}