body{
	margin:0px;
	padding:0px;
}

.rojo{
	width:200px;
	height:200px;
	background-color:#ee3e64;

	
	
}
.azul{
	width:200px;
	height:200px;
	background-color:#44accf;
	position:absolute;
	left:200px;
}
.verde{
	width:200px;
	height:200px;
	background-color:#b7d84b;
	bottom:0px;
}
.amarillo{
	width:200px;
	height:200px;
	background-color:yellow;
}